<% if @research.errors.any? %>
  <div class="alert alert-danger">
    <h5><%= t('common.errors') %></h5>
    <ul>
      <% @research.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @research do |f| %>
  <div class="mb-3">
    <%= f.label :name, class: 'form-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :description, class: 'form-label' %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :algorithm_id, class: 'form-label' %>
    <%= select_tag "research[algorithm_id]", options_from_collection_for_select(@algorithms, 'id', 'name'), id: 'research_algorithm_id',  class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= f.label :languages_file, class: 'form-label'  %>
    <%= f.file_field :languages_file, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit t('common.submit', action: @research.new_record? ? t('common.submit') : t('common.edit')), class: 'btn btn-primary' %>
    <%= link_to t('common.back'), :back, class: 'btn btn-outline-primary' %>
  </div>
<% end %>
