<article class="research">
  <section class="research-head">
    <h5><%= link_to research.name, research_path(research) %></h5>
    <p> Описание: <%= research.description %></p> <!--TODO: Make truncated description next -->
    <p> Алгоритм исследования: <%= research.algorithm.name %></p>
    <small>
      <time>
        <%= Russian::strftime(research.created_at, "%d %B, %Y") %></time> |
        <%= link_to t('common.delete'), research_path(research), method: :delete, data: { confirm: t('common.confirmation') } %>
    </small>
  </section>
</article>
<hr>