<article class="research">
  <section class="research-head">
    <h4><%= @research.name %></h4>
    <% if @research.description.present? %>
      <p> Описание: <%= @research.description %></p>
    <% end %>
    <p>Алгоритм исследования: <%= @research.algorithm.name %></p>
    <div>
      <p><strong>Скачать:</strong></p>
      <section style="margin-top: 15px;">
        <%= link_to "Результаты", @research.result_data_url, download: @research.result_data_url, target: "_blank", class: "btn btn-outline-primary" %>
        |
        <%= @research.result_data_identifier %>
      </section>
      <% if @research.languages_file.present? %>
        <section style="margin-top: 15px;">
          <%= link_to "Входные данные", @research.languages_file_url, download: @research.languages_file_url, target: "_blank", class: "btn btn-outline-primary" %>
          |
          <%= @research.languages_file_identifier %>
        </section>
      <% end %>


      <hr>
      <small>
        <time><%= Russian::strftime(@research.created_at, "%d %B, %Y") %></time>
        |
        <%= link_to t('common.delete'), research_path(@research), method: :delete, data: { confirm: t('common.confirmation') } %>
      </small>
    </div>
  </section>
</article>
