h1 {
  text-decoration: underline;
}

.research {
  .research-head {
   h4 {
     margin-bottom: 15px;
   }
  }
  margin-top: 15px;
  margin-bottom: 15px;
}
// Import Bootstrap v5
@import "~bootstrap/scss/bootstrap";
