<!DOCTYPE html>
<html lang="es-ES">
  <head>
    <title>LanguagesOfTheWorld</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <%= link_to t('common.project'), researches_path, style: "text-decoration: none;", class: "btn text-white h4" %>
        <%= link_to t('researches.new.title'), new_research_path, class: 'btn text-white btn-outline-primary' %>
      </div>
    </nav>
    <br>
    <div class="container main">
      <div class="row">
        <div class="col-md-12">
          <% flash.each do |name, message| %>
            <div class="alert alert-<%= name %>">
              <%= message %>
            </div>
          <% end %>
        </div>
      </div>
      <%= yield %>
    </div>
  </body>

  <footer>
    <div class="container p-2 footer text-center fixed-bottom bg-light">
      © <%= DateTime.now.year %>
      <a class="text-dark" href="https://bitbucket.org/NovartQ/languages_of_the_world">Иванов Артем</a>
    </div>
  </footer>

</html>
